<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">Welcome To Calendar</span>
</mat-toolbar>

<div class="wrapper">
  <div class="content-box">
    <h1 class="content-title">Welcome To Calendar</h1>
    <p class="content-description">
      This is my tech tasks homepage. Here you can manage your tasks efficiently and keep track of your schedule.
    </p>

    <button mat-raised-button color="primary" routerLink="/Calendar" style="margin-top: 20px;">Get Started</button>
  </div>
</div>
